<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" th:href="@{/static/assets/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/assets/css/core/libs.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/vendor/aos/dist/aos.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/hope-ui.min.css?v=2.0}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/custom.min.css?v=2.0}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/dark.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/customizer.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/myCss/modal.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/assets/js/myJs/showLinkActive.js}"></script>

</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside class="sidebar sidebar-default sidebar-white sidebar-base navs-rounded-all ">
    <div th:insert="admin/blocks/sidebar::sidebarMenu"></div>
</aside>
<main class="main-content">
    <div th:insert="admin/blocks/topPanel::topPanel"></div>
    <div class="container-fluid content-inner mt-n5 py-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Создание классификации</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Заполните данные для создания новой классификации</p>
                        <form th:action="@{/admin/classifications/create}" method="POST"  th:object="${classificationDTO}" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="position-relative">
                                    <label for="validationTooltip01" class="form-label">Название</label>
                                    <input type="text" class="form-control" id="validationTooltip01"
                                           required="" th:field="*{name}">
                                    <div th:if="${#fields.hasErrors('name')}">
                                        <div class="alert alert-danger" th:errors="*{name}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="position-relative">
                                    <label for="validationTextarea" class="form-label">Описание</label>
                                    <textarea class="form-control" id="validationTextarea"
                                               required="" th:field="*{description}"></textarea>
                                    <div class="valid-tooltip">
                                        Отлично, данное поле заполнено.
                                    </div>
                                    <div th:if="${#fields.hasErrors('description')}">
                                        <div class="alert alert-danger" th:errors="*{description}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-check form-group">
                                <input type="radio" class="form-check-input" id="validationFormCheck2"
                                       name="radio-stacked" required="" th:field="*{status}" th:value="true">
                                <label class="form-check-label" for="validationFormCheck2">Вкл</label>
                            </div>
                            <div class="form-check form-group">
                                <input type="radio" class="form-check-input" id="validationFormCheck3"
                                       name="radio-stacked" required="" th:field="*{status}" th:value="false">
                                <label class="form-check-label" for="validationFormCheck3">Выкл</label>
                                <div class="invalid-feedback">Выберите статус</div>
                                <div th:if="${#fields.hasErrors('status')}">
                                    <div class="alert alert-danger" th:errors="*{status}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <img height="100px" width="150px" id="previewImage" hidden>
                                <input type="file" class="form-control" aria-label="file example" required="" th:field="*{file}" onchange="updatePreviewImage(this)"  style="margin-top: 7px">
                                <div class="invalid-feedback">Добавьте изображение</div>
                                <div th:if="${#fields.hasErrors('file')}">
                                    <div class="alert alert-danger" th:errors="*{file}">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <button class="btn btn-outline-dark" style="text-align: center" type="submit">Создать
                                    классификацию
                                </button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
<script>
    function updatePreviewImage(input) {
        if (input.files && input.files[0]) {
            var file = input.files[0];
            if (file.type.startsWith('image/')) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewImage').removeAttr('hidden');
                    $('#previewImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            } else {
                alert('Выбранный файл не является изображением.');
                input.value = '';
            }
        }
    }
</script>
<script th:src="@{/assets/js/myJs/script.js}"></script>
<script th:src="@{/assets/js/core/libs.min.js}"></script>
<script th:src="@{/assets/js/core/external.min.js}"></script>
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>
<script th:src="@{/assets/js/plugins/setting.js}"></script>
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

</body>
</html>