<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/aos/dist/aos.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css?v=2.0}"/>
    <link rel="stylesheet" th:href="@{/assets/css/custom.min.css?v=2.0}"/>
    <link rel="stylesheet" th:href="@{/assets/css/dark.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}"/>
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/assets/css/myCss/modal.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside class="sidebar sidebar-default sidebar-white sidebar-base navs-rounded-all ">
    <div th:insert="admin/blocks/sidebar::sidebarMenu"></div>
</aside>
<main class="main-content">
    <div th:insert="admin/blocks/topPanel::topPanel"></div>
    <div class="container-fluid content-inner mt-n5 py-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header-title">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Классификации категорий продуктов</h3>
                                </div>
                                <div class="col-lg-6">
                                    <div style="text-align: right">
                                        <a th:href="@{/admin/classifications/create}">
                                            <button class="btn btn-outline-dark" type="submit">Создать
                                                классификацию
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <input type="text" name="productName" id="productName" th:value="${id}"
                               placeholder="Введите имя классификации">
                        <a>
                            <button type="submit" class="btn btn-primary" id="searchButton">Поиск</button>
                        </a>
                        <div class="row">
                            <div class="col-6" th:each="ob : ${objects}" style="text-align: center; padding-top: 20px">
                                <a th:href="@{/admin/classifications/{name}(name=${ob.name})}">
                                    <img th:src="@{${ob.path}}" width="400px" height="300px">
                                    <h5 th:text="${ob.name}"
                                        th:style="${ob.status == true ? 'color: green;' : 'color: red;'}"></h5>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6" id="rowPanelCount">
                                <p th:text="${panelCount}"></p>
                            </div>
                            <div class="col-sm-6">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" id="paginationItems">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous"
                                               th:hidden="${currentPage == 0}"
                                               th:href="@{/admin/classifications(page=${currentPage - 1 }, id=${id})}">
                                                <span aria-hidden="true">&#10094;</span>
                                            </a>
                                        </li>
                                        <li class="page-item" th:if="${currentPage >= 2}">
                                            <a class="page-link"
                                               th:href="@{/admin/classifications(page=${0}, id=${id})}"
                                               th:text="1"></a>
                                        </li>
                                        <li class="page-item" th:if="${currentPage >= 3}">
                                            <span class="page-link disabled">...</span>
                                        </li>
                                        <li class="page-item"
                                            th:each="pageNumber : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
                                            th:classappend="${pageNumber == currentPage} ? 'active' : ''"
                                            th:if="${pageNumber >= 0 && pageNumber <= (totalPages - 1)}">
                                            <a class="page-link"
                                               th:href="@{/admin/classifications(page=${pageNumber}, id=${id})}"
                                               th:text="${pageNumber + 1}">
                                            </a>
                                        </li>
                                        <li class="page-item" th:if="${currentPage==0 && totalPages>5}">
                                            <a class="page-link"
                                               th:href="@{/admin/classifications(page=${2 }, id=${id})}"
                                               th:text="${2 + 1}">
                                            </a>
                                        </li>
                                        <li class="page-item" th:if="${currentPage <= totalPages - 4}">
                                            <span class="page-link disabled">...</span>
                                        </li>
                                        <li class="page-item" th:if="${currentPage <= totalPages - 3}">
                                            <a class="page-link"
                                               th:href="@{/admin/classifications(page=${totalPages -1 }, id=${id})}"
                                               th:text="${totalPages}"></a>
                                        </li>
                                        <li class="page-item" th:data-page="${currentPage+2}"
                                            th:if="${1 < totalPages&& totalPages -1>currentPage}">
                                            <a class="page-link"
                                               th:href="@{/admin/classifications(page=${currentPage + 1 }, id=${id})}"
                                               aria-label="Next">
                                                <span aria-hidden="true">&#10095;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    $("#searchButton").click(function () {
        var productNameInput = document.getElementById('productName');
        var id = productNameInput.value; // Получаем значение из поля ввода
        let context =/*[[@{/}]]*/ '';
        var url = context + 'admin/classifications?page=0&id=' + id; //
        window.location.href = url; // Переходим по URL
    });

</script>
<script th:src="@{/assets/js/myJs/showLinkActive.js}"></script>
<script th:src="@{/assets/js/myJs/script.js}"></script>
<script th:src="@{/assets/js/core/libs.min.js}"></script>
<script th:src="@{/assets/js/core/external.min.js}"></script>
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>
<script th:src="@{/assets/js/plugins/setting.js}"></script>
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

</body>
</html>