<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/aos/dist/aos.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css?v=2.0}"/>
    <link rel="stylesheet" th:href="@{/assets/css/custom.min.css?v=2.0}"/>
    <link rel="stylesheet" th:href="@{/assets/css/dark.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}"/>
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/assets/css/myCss/modal.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/assets/js/myJs/showLinkActive.js}"></script>

</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside class="sidebar sidebar-default sidebar-white sidebar-base navs-rounded-all ">
    <div th:insert="admin/blocks/sidebar::sidebarMenu"></div>
</aside>
<main class="main-content">
    <div th:insert="admin/blocks/topPanel::topPanel"></div>
    <div class="container-fluid content-inner mt-n5 py-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header-title">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>Список продуктов</h1>
                                </div>
                                <div class="col-lg-6">

                                    <a th:href="@{/admin/products/create}">
                                        <div style="text-align: right">
                                            <div class="btn btn-outline-dark">Создать
                                                Продукт
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <input type="text" name="productName" th:value="${productName}"
                                   placeholder="Введите имя продукта">
                            <button type="submit" class="btn btn-primary">Поиск</button>
                            <div class="row">
                                <div class="col-3" th:each="ob : ${products}"
                                     style="text-align: center; padding-top: 20px">
                                    <a th:href="@{/admin/products/{id}(id=${ob.id})}">
                                        <img th:src="@{${ob.path}}" width="200px" height="150px">
                                        <h5 th:text="${ob.name}"
                                            th:style="${ob.status == true ? 'color: green;' : 'color: red;'}"></h5>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p th:text="${panelCount}"></p>
                                </div>
                                <div class="col-sm-6">

                                    <div th:if="${totalPages>1}">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-end">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous"
                                                       th:hidden="${currentPage == 0}"
                                                       th:href="@{/admin/products(page=${currentPage - 1 }, productName=${productName})}">
                                                        <span aria-hidden="true">&#10094;</span>
                                                    </a>
                                                </li>

                                                <li class="page-item" th:if="${currentPage >= 2}">
                                                    <a class="page-link" href="#"
                                                       th:href="@{/admin/products(page=0, productName=${productName})}"
                                                       th:text="1"></a>
                                                </li>
                                                <li class="page-item" th:if="${currentPage >= 3}">
                                                    <span class="page-link">...</span>
                                                </li>
                                                <li class="page-item"
                                                    th:each="pageNumber : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
                                                    th:classappend="${pageNumber == currentPage} ? 'active' : ''"
                                                    th:if="${pageNumber >= 0 && pageNumber <= (totalPages - 1)}">
                                                    <a class="page-link" href="#"
                                                       th:href="@{/admin/products(page=${pageNumber}, productName=${productName})}"
                                                       th:text="${pageNumber + 1}">
                                                    </a>
                                                </li>
                                                <li class="page-item" th:if="${currentPage==0 && totalPages>5}">
                                                    <a class="page-link" href="#"
                                                       th:href="@{/admin/products(page=${2}, productName=${productName})}"
                                                       th:text="${2 + 1}">
                                                    </a>
                                                </li>
                                                <li class="page-item" th:if="${currentPage <= totalPages - 4}">
                                                    <span class="page-link">...</span>
                                                </li>
                                                <li class="page-item" th:if="${currentPage <= totalPages - 3}">
                                                    <a class="page-link" href="#"
                                                       th:href="@{/admin/products(page=${totalPages - 1}, productName=${productName})}"
                                                       th:text="${totalPages}"></a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next"
                                                       th:hidden="${currentPage >= totalPages - 1}"
                                                       th:href="@{/admin/products(page=${currentPage + 1}, productName=${productName})}">
                                                        <span aria-hidden="true">&#10095;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/assets/js/myJs/script.js}"></script>
<script th:src="@{/assets/js/core/libs.min.js}"></script>
<script th:src="@{/assets/js/core/external.min.js}"></script>
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>
<script th:src="@{/assets/js/plugins/setting.js}"></script>
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

</body>
</html>