<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" th:href="@{/static/assets/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/assets/css/core/libs.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/vendor/aos/dist/aos.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/hope-ui.min.css?v=2.0}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/custom.min.css?v=2.0}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/dark.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/customizer.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/myCss/modal.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/assets/js/myJs/showLinkActive.js}"></script>

</head>
<body>
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div>
<aside class="sidebar sidebar-default sidebar-white sidebar-base navs-rounded-all ">
    <div th:insert="admin/blocks/sidebar::sidebarMenu"></div>
</aside>
<main class="main-content">
    <div th:insert="admin/blocks/topPanel::topPanel"></div>
    <div class="container-fluid content-inner mt-n5 py-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Редактировать категорию "<span th:text="${nameCategory}"></span>"
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Заполните данные для создания новой категории</p>
                        <form th:action="@{/admin/classifications/{nameClassification}/edit/{nameCategory}(nameClassification=${nameClassification},nameCategory=${nameCategory})}"
                              class="was-validated" method="POST" th:object="${categoryDTO}"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="position-relative">
                                    <label for="validationTooltip01" class="form-label">Название</label>
                                    <input type="text" class="form-control" id="validationTooltip01"
                                           required="" th:field="*{name}">
                                    <div class="valid-tooltip">
                                        Отлично, данное поле заполнено.
                                    </div>
                                    <div class="invalid-feedback">
                                        Заполните название
                                    </div>
                                    <div th:if="${#fields.hasErrors('name')}">
                                        <div class="alert alert-danger" th:errors="*{name}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="position-relative">
                                    <label for="validationTextarea" class="form-label">Описание</label>
                                    <textarea class="form-control is-invalid" id="validationTextarea"
                                              required="" th:field="*{description}"></textarea>
                                    <div class="valid-tooltip">
                                        Отлично, данное поле заполнено.
                                    </div>
                                    <div th:if="${#fields.hasErrors('description')}">
                                        <div class="alert alert-danger" th:errors="*{description}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-check form-group">
                                <input type="radio" class="form-check-input" id="validationFormCheck2"
                                       name="radio-stacked" required="" th:field="*{status}" th:value="true">
                                <label class="form-check-label" for="validationFormCheck2">Вкл</label>
                            </div>
                            <div class="form-check form-group">
                                <input type="radio" class="form-check-input" id="validationFormCheck3"
                                       name="radio-stacked" required="" th:field="*{status}" th:value="false">
                                <label class="form-check-label" for="validationFormCheck3">Выкл</label>
                                <div class="invalid-feedback">Выберите статус</div>
                                <div th:if="${#fields.hasErrors('status')}">
                                    <div class="alert alert-danger" th:errors="*{status}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="text-align: center">
                                <div th:if="${listProducts.size()>0}" id="tableContainer">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Название</th>
                                            <th class="text-center">Вкл/Выкл</th>
                                            <th class="text-center">Цена</th>
                                            <th class="text-center">Редактировать</th>
                                            <th class="text-center">Удалить</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="text-center" th:each="product:${listProducts}" th:id="'idTr'+${product.getName()}">
                                            <td class="text-center">
                                                <div th:text="${product.name}"></div>
                                            </td>
                                            <td class="text-center">
                                                <div th:text="${product.status}"></div>
                                            </td>
                                            <td class="text-center">
                                                <div th:text="${product.price}"></div>
                                            </td>
                                            <td>
                                                <a th:href="@{/admin/classifications/{nameClassification}/edit/{nameCategory}/edit/{nameProduct}(nameClassification=${nameClassification}, nameCategory=${nameCategory},nameProduct=${product.name})}">
                                                    <div class="btn btn-warning">edit</div>
                                                </a>
                                            </td>

                                            <!--                                            HERE-->
                                            <td>
                                                <div class="btn btn-warning"
                                                     th:id="'deleteProductButton_' + ${product.name}"
                                                     th:attr="data-product-name=${product.name}"
                                                     onclick="openModal(this)">
                                                    delete
                                                </div>
                                                <div id="deleteModal" class="modal">
                                                    <div class="modal-content">
                                                        <!--                                                        <p th:text="${category.name}"></p>-->
                                                        <p>Вы хотите удалить продукт ?</p>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="btn btn-primary" id="okBtn">
                                                                    Да
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="btn btn-warning" id="cancelBtn">Отмена
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <!--                                            HERE-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a th:href="@{/admin/classifications/{nameClassification}/edit/{nameCategory}/create(nameClassification=${nameClassification}, nameCategory=${nameCategory})}">
                                    <div class="btn btn-outline-dark">Создать продукт</div>
                                </a>
                                <br>
                            </div>

                            <div class="form-group mb-0">
                                <img th:src="@{${path}}" height="100px" width="150px">
                                <input type="file" class="form-control" th:field="*{file}">
                                <div th:if="${#fields.hasErrors('file')}">
                                    <div class="alert alert-danger" th:errors="*{file}">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <button class="btn btn-outline-dark" style="text-align: center" type="submit">Сохранить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    var productName;
    var category;
    let contextPath;
    let classification
    function openModal(button) {
        productName = button.getAttribute('data-product-name');
        console.log(productName);
        var modal = document.getElementById('deleteModal');
        modal.style.display = 'block';
    }

    $("#cancelBtn").click(function () {
        $("#deleteModal").hide();
    });

    $("#okBtn").click(function () {
        classification = /*[[${nameClassification}]]*/'';
        console.log(classification);
        category = /*[[${nameCategory}]]*/'';
        contextPath = /*[[${contextPath}]]*/'';
        console.log(contextPath);
        console.log("Deleting:", category, classification);
        const url = contextPath + 'admin/classifications/' + classification + '/edit/' + category+'/delete/'+productName;
        console.log("URL:", url);
        $.ajax({
            url: url,
            type: "DELETE",
            success: function () {
                var idSelector = "#idTr" + productName.toString();
                var element = $(idSelector);
                console.log(element);
                $(element).empty();
                $("#deleteModal").hide();
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });

    });
</script>


<script th:src="@{/assets/js/myJs/script.js}"></script>
<script th:src="@{/assets/js/core/libs.min.js}"></script>
<script th:src="@{/assets/js/core/external.min.js}"></script>
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>
<script th:src="@{/assets/js/plugins/setting.js}"></script>
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

</body>
</html>